{% extends 'main.html '%}
{% block mycontact %}
<div class="mycontact">
        <div class="email">
        <h1>Email</h1>
            <h2> {{mydata.email}}</h2>
        </div>
        <div class=" address">
            <h1>address</h1>
        <h2>{{mydata.address}}</h2>
            </div>
        <div class="mobile">
            <h1>mobile number</h1>
            <h2>{{mydata.number}}</h2>
                    </div>
    </div>

        {% endblock %}
{% block contact %}
<form method="post" action="">
  {% csrf_token %}
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
    <label>Age<label/><br>
        <input type="number" id="lage" name="lage"><br>
        <label>mobile number</label><br>
        <input type="tel" id = 'lnum' name = 'lnum'>
  <br>
  <button>sbmit</button>
</form>
{% endblock %}
s